body {
  font-size: 16px;
}

.App {
  width: 80%;
  margin: auto;
}

.cell {
  height: 80px;
  width: 80px;
  border: 2px solid red;
  margin: 4px;
}

.cell-selected {
  border: 2px solid  green;
  background-color: beige;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}