.App {
  margin: auto;
  width: 80%;
}

.cell {
  height: 64px;
  width: 64px;
  border: 2px solid red;
  margin: 4px;
  display: inline-flex;
}

.cell-selected {
  border: 2px solid  green;
  background-color: beige;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
} 

.grid-container {
  height: 500px;
  text-align: center;
  border: 1px solid black;
  overflow: auto;
  white-space: nowrap;
  
}

.input-area-container {
  margin-bottom: 16px;
}

.input-area {
  display:  flex;
  justify-content: center;
}